#include "resource.h"
#include "Windows.h"

#define AUTORUN_VERSION_WIN AUTORUN_V1,AUTORUN_V2,AUTORUN_V3,0
#define AUTORUN_VERSION_WIN_ST AUTORUN_VERSION_ST ".0"

IDI_MYICON ICON "autorun-logo.ico"
//IDB_LOGO_BITMAP BITMAP "autorun-logo-128x.bmp"

IDR_TRAY_MENU MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&About", ID_TRAY_MENU_ABOUT
        MENUITEM SEPARATOR
        MENUITEM "E&xit",     ID_TRAY_MENU_EXIT
    END
END

ID_DIALOG_TEST DIALOGEX 0, 0, 259, 145
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "MS Shell Dlg", 400, 0, 1
BEGIN
   CONTROL "AutoRun", 1001, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 13, 118, 24
   CONTROL AUTORUN_VERSION_ST, 1002, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 36, 91, 20
   //CONTROL IDB_LOGO_BITMAP, 1063, STATIC, SS_BITMAP | WS_CHILD | WS_VISIBLE, 163, 6, 85, 79
   CONTROL "Copyright \xA9 2020 Division Industries LLC. GNU GPL v3.0.", 1003, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 96, 237, 13
   CONTROL "https://divisionind.com/", 1004, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 110, 237, 10
   CONTROL "https://github.com/divisionind/AutoRun/", 1005, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 124, 149, 12
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 202, 124, 50, 14
END

1 VERSIONINFO
 FILEVERSION AUTORUN_VERSION_WIN
 PRODUCTVERSION AUTORUN_VERSION_WIN
 FILEFLAGSMASK 0x3fL
#ifdef AUTORUN_DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Division Industries LLC"
            VALUE "FileDescription", "AutoRun Service"
            VALUE "FileVersion", AUTORUN_VERSION_WIN_ST
            VALUE "InternalName", "AutoRun.exe"
            VALUE "LegalCopyright", "GNU General Public License v3.0"
            VALUE "OriginalFilename", "AutoRun.exe"
            VALUE "ProductName", "AutoRun"
            VALUE "ProductVersion", AUTORUN_VERSION_WIN_ST
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END