#include "resource.h"

#define AUTORUN_VERSION_WIN AUTORUN_V1,AUTORUN_V2,AUTORUN_V3,0
#define AUTORUN_VERSION_WIN_ST AUTORUN_VERSION_ST ".0"

IDI_MYICON ICON "autorun-logo.ico"

IDR_TRAY_MENU MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "Show &Info", ID_TRAY_MENU_INFO
        MENUITEM SEPARATOR
        MENUITEM "E&xit",     ID_TRAY_MENU_EXIT
    END
END

1 VERSIONINFO
 FILEVERSION AUTORUN_VERSION_WIN
 PRODUCTVERSION AUTORUN_VERSION_WIN
 FILEFLAGSMASK 0x3fL
#ifdef AUTORUN_DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Division Industries LLC"
            VALUE "FileDescription", "AutoRun Service"
            VALUE "FileVersion", AUTORUN_VERSION_WIN_ST
            VALUE "InternalName", "AutoRun.exe"
            VALUE "LegalCopyright", "Copyright (C) " AUTORUN_V1
            VALUE "OriginalFilename", "AutoRun.exe"
            VALUE "ProductName", "AutoRun"
            VALUE "ProductVersion", AUTORUN_VERSION_WIN_ST
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END